// ------------------------------
// PAGINATION
// ------------------------------

.pagination {
  display: block;
  margin: 0 0 4em 0;
}

.pagination__page-number {
  width: 235px;
  margin-top: 20px;
  font-size: 3em;
  color: $gray-dark;
  text-align: center;
}

.pagination__arrow {
  width: 235px;
  margin-top: 20px;
  font-size: 3em;
  text-align: center;
}

.disable_arrow {
  color: $gray-lightest;
}

.archive {
  width: 220px;
  text-align: right;
}
